<div id="htmlcontent_top">
            <div class="container">
               <ul class="htmlcontent-home clearfix row">
                  <li class="htmlcontent-item-1 col-xs-4">
                     <a href="index.php?id_category=36&amp;controller=category" class="item-link" title="Skillets">
                        <div class="bannerBox">
                           <img src="img/cab1d4a1380d23eecf5b2dee23221673de52db5e_banner-1.jpg" class="item-img" title="Skillets" alt="Skillets" width="100%" height="100%">
                           <div class="item-html">
                              <div>
                                 <div>
                                    <h2>Sale</h2>
                                    <h3>50% off</h3>
                                    <button>Shop now!</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <h4 class="item-title">Skillets</h4>
                     </a>
                  </li>
                  <li class="htmlcontent-item-2 col-xs-4">
                     <a href="index.php?id_category=37&amp;controller=category" class="item-link" title="Dutch Ovens">
                        <div class="bannerBox">
                           <img src="img/84113834af986f7d6b54d830bfe477dc6fb750e8_banner-2.jpg" class="item-img" title="Dutch Ovens" alt="Dutch Ovens" width="100%" height="100%">
                           <div class="item-html">
                              <div>
                                 <div>
                                    <h2>Sale</h2>
                                    <h3>30% off</h3>
                                    <button>Shop now!</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <h4 class="item-title">Dutch Ovens</h4>
                     </a>
                  </li>
                  <li class="htmlcontent-item-3 col-xs-4">
                     <a href="index.php?id_category=38&amp;controller=category" class="item-link" title="cookware sets">
                        <div class="bannerBox">
                           <img src="img/0016cd91c583807eaca81c500b9101f5b4e635d7_banner-3.jpg" class="item-img" title="cookware sets" alt="cookware sets" width="100%" height="100%">
                           <div class="item-html">
                              <div>
                                 <div>
                                    <h2>Sale</h2>
                                    <h3>70% off</h3>
                                    <button>Shop now!</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <h4 class="item-title">cookware sets</h4>
                     </a>
                  </li>
               </ul>
            </div>
         </div>