<div class="lins index">
	<h2><?php echo __('Lins'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('co_lin'); ?></th>
			<th><?php echo $this->Paginator->sort('lin_des'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($lins as $lin): ?>
	<tr>
		<td><?php echo h($lin['Lin']['id']); ?>&nbsp;</td>
		<td><?php echo h($lin['Lin']['co_lin']); ?>&nbsp;</td>
		<td><?php echo h($lin['Lin']['lin_des']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $lin['Lin']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $lin['Lin']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $lin['Lin']['id']), array(), __('Are you sure you want to delete # %s?', $lin['Lin']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Lin'), array('action' => 'add')); ?></li>
	</ul>
</div>
